@{
    ViewData["Title"] = "Log feed";
}

<h3>Real time log feed</h3>

<div id="alert" class="alert alert-info alert-dismissible" role="alert" style="display:none;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p></p>
</div>

<table id="logs" class="table table-borderless">
    <thead>
        <tr>
            <th>Time</th>
            <th>Level</th>
            <th>Application</th>
            <th>Host</th>
            <th>Category</th>
            <th>EventId</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts {

    <script>
        $(function () {

            // get generated proxy
            var logHubProxy = $.connection.logHub;

            var table = $('#logs > tbody:last');
            var alert = $('#alert');

            // change feed handler
            logHubProxy.client.OnLog = function (log) {
                showAlert(alert, 'Last event at ' + (new Date()).toLocaleTimeString());
                pushNewLog(table, log);
            };

            // open connection
            $.connection.hub.start().done(function () {
                showAlert(alert, 'Connected to SignalR hub via ' + $.connection.hub.transport.name + '. Waiting for events...');
            }).fail(function () {
                showAlert(alert, 'Could not connect to SignalR hub');
            });
        });

        function pushNewLog(table, log) {
            var ts = new Date(log.Timestamp);
            table.prepend('<tr><td colspan="6">' + log.Message + '</td><tr>');
            table.prepend('<tr class="active"><td>' + ts.toLocaleTimeString() + '</td><td>' + log.Level + '</td><td>' + log.Application + '</td><td>' + log.Host + '</td><td>' + log.Category + '</td><td>' + log.EventId + '</td></tr>');
        }
    </script>
}
