@{
    ViewData["Title"] = "Home Page";
}

<h2>Log</h2>

<table id="logs" class="table table-sm ">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Level</th>
            <th>Application</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div class="container">

    <ul id="discussion"></ul>
</div>

@section scripts {

    <script>
        $(function () {

            var hub = $.connection.logHub;
            var table = $('#logs > tbody:last');


            hub.client.OnLog = function (log) {
                pushLog(table, log);
            };

            $.connection.hub.start().done(function () {
                hub.server.load(5).then(function (logs) {
                    $.each(logs, function (idx, log) {
                        pushLog(table, log);
                    });
                });
            });
        });

        function pushLog(table, log) {
            table.prepend('<tr><td>' + log.Timestamp + '</td><td>' + log.Level + '</td><td>' + '<p>' + log.Application + '</p>Host:<em>' + log.Host + '</em></td><td>' + '<p><strong>' + log.Category + '</strong></p>' + log.Message + '</td></tr>');
        }
    </script>
}
